<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <span id="emailError"></span>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <span id="passwordError"></span>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <span id="passwordConfirmationError"></span>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  var emailHandle = document.getElementById('user_email');
  var emailErrorHandle = document.getElementById('emailError');
  var passwordHandle = document.getElementById('user_password');
  var passwordErrorHandle = document.getElementById('passwordError');
  var passwordConfirmationHandle = document.getElementById('user_password_confirmation');
  var passwordConfirmationErrorHandle = document.getElementById('passwordConfirmationError');

  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

  // function validatePassword(password) {
  //   var pwd = /^[A-Za-z0-9]+$/;
  //   return pwd.test(password);
  // }

  emailHandle.onblur = function(){
    if(emailHandle.value == ""){
      emailErrorHandle.innerHTML = "Email cannot be blank";
    }else{
      if(validateEmail(emailHandle.value)){
        emailErrorHandle.innerHTML = "";
      }else{
        emailErrorHandle.innerHTML = "Invalid format";
      }
    }
  };

  passwordHandle.onblur = function(){
    if(passwordHandle.value == ""){
      passwordErrorHandle.innerHTML = "Password cannot be blank";
    }else{
        passwordErrorHandle.innerHTML = "";
      }
    }

  passwordConfirmationHandle.onblur = function(){
    if(passwordConfirmationHandle.value == passwordHandle.value){
      passwordConfirmationErrorHandle.innerHTML = "";
    }else{
      if(passwordConfirmationHandle.value == ""){
        passwordConfirmationError.innerHTML = "Cannot be blank"
      }else{
        passwordConfirmationErrorHandle.innerHTML = "Password doesnt match";
      }
    }
  }

</script>