<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @article.publish_date %>
</p>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> 
|<%end%>
<%= link_to 'Back', articles_path %>
