<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<div id="userTable">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.roles.pluck(:name).join(", ") %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<h3>Add User</h3>
<div id="errorMsg"></div>
<%= render 'form' %>
